.article{
    border: 2px solid #888;
    background-color: #FFF;
    border-radius: 5px;
    width: 45%;
    height: 65%;
}

@media (max-width:750px) {
    .article{
        width: 80%;
        height: 65%;
        font-size: smaller;
    }
}

@media (min-width:750px) and (max-width:900px) {
    .article{
        width: 60%;
        height: 65%;
    }
}

.article > header{
    border-bottom: 2px solid #888;
    text-align: left;
    width: 100%;
    height: 15%;
    font-weight: bold;
    background-color: #888;
    color: #FFF;
}

.article > header > div{
    padding: 5px;
}

.article > main {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 70%;
}