.article{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #888;
    background-color: #FFF;
    border-radius: 5px;
    width: 640px;
    height: 480px;
}

.article > form {
    height: 100%;
}

.article main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 85%;
}

.article > button {
    height: 15%;
}

.article main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}